In [ ]:
# Reads subsetted data file obtained from the combined csv file contatining all 39 weeks of data 

import pandas as pd
census_data = pd.read_csv("data.csv",index_col=0)

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [ ]:
#census_data.head()

   TBIRTH_YEAR  EGENDER  RRACE  EEDUC  ...  EXPNS_DIF  ANXIOUS  DOWN  CURFOODSUF
0         1986      2.0      1      6  ...        NaN        4     1           1
1         1955      1.0      1      4  ...        NaN        3     4           2
2         1976      2.0      4      6  ...        NaN        1     1           1
3         1964      1.0      1      4  ...        NaN        4     4           2
4         1963      2.0      1      7  ...        NaN        2     2           1

[5 rows x 21 columns]

In [ ]:
# Maps different entries to different level names

census_data['RRACE'] = census_data['RRACE'].map({1:'Caucasian', 2: 'African American', 3:'Asian', 4: 'Mixed Origin'})
census_data['EEDUC'] = census_data['EEDUC'].map({1:'Less than high school',2:'Some high school',3:'High school level',4:'Some college, not received/in progress',5:'Associateâ€™s degree',6:'Bachelors degree',7:'Graduate degree'})
census_data['KINDWORK'] = census_data['KINDWORK'].map({1: 'Government',2: 'Private company',3: 'Non-profit organization',4: 'Self-employed',5: 'Working in a family business',-99: 'Unknown',-88: 'Unknown'})
census_data['INCOME'] = census_data['INCOME'].map({1:'Less than $25,000', 2:'$25,000 - $34,999',3:'$35,000 - $49,999',4:'$50,000 - $74,999',5:'$75,000 - $99,999',6:'$100,000 - $149,999',7:'$150,000 - $199,999',8:'$200,000 and above',-99: 'Unknown',-88: 'Unknown'})
census_data['EXPNS_DIF'] = census_data['EXPNS_DIF'].map({1:'Not Difficult', 2:'Somewhat Difficult',3:'Somewhat Difficult',4:'Very Difficult',-99:'Unknown',-88:'Unknown'})
census_data['ANXIOUS'] = census_data['ANXIOUS'].map({1:'Not At All', 2:'Several Days',3:'Several Days',4:'Every Day',-99:'Unknown',-88:'Unknown'})
census_data['DOWN'] = census_data['DOWN'].map({1:'Not At All', 2:'Several Days',3:'Several Days',4:'Every Day',-99:'Unknown',-88:'Unknown'})
census_data['CURFOODSUF'] = census_data['CURFOODSUF'].map({1:'Enough', 2:'Sometimes Not Enough',3:'Sometimes Not Enough',4:'Often Not Enough',-99:'Unknown',-88:'Unknown'})

In [ ]:
# Maps week numbers from the data to months 

census_data['WEEK'] = census_data['WEEK'].map({1:'April 2020', 2:'May 2020',3:'May 2020',4:'May 2020',5:'May 2020',6:'June 2020',
                                               7:'June 2020', 8:'June 2020',9:'June 2020',10:'July 2020',11:'July 2020',12:'July 2020',
                                               13:'August 2020',14:'September 2020',15:'September 2020',16:'October 2020',
                                               17:'October 2020',18:'October 2020',19:'November 2020',20:'November 2020',21:'December 2020',
                                               22:'January 2021',23:'January 2021',24:'February 2021',25:'February 2021',26:'March 2021',
                                               27:'March 2021',28:'April 2021',29:'April 2021',30:'May 2021',31:'May 2021',32:'June 2021',
                                               33:'June 2021',34:'July 2021',35:'August 2021',36:'August 2021',37:'September 2021',
                                               38:'September 2021',39:'September 2021'})

In [ ]:
# Maps different entries to different level names

census_data['EGENDER'] = ['Male' if x == 1.0 else 'Female' for x in census_data['EGENDER']]
census_data['HADCOVID'] = ['Had Covid' if x== 1.0 else 'Not Had Covid' if x==2.0 else 'Not Sure' for x in census_data['HADCOVID']]
census_data['DELAY'] = ['Delayed' if x== 1.0 else 'Not Delayed' if x==2.0 else 'Not Sure' for x in census_data['DELAY']]
census_data['NOTGET'] = ['Not Get' if x== 1.0 else 'Get' if x==2.0 else 'Not Sure' for x in census_data['NOTGET']]
census_data['MH_NOTGET'] = ['Not Get' if x== 1.0 else 'Get' if x==2.0 else 'Not Sure' for x in census_data['MH_NOTGET']]
census_data['RECVDVACC'] = ['Received Vaccine' if x== 1.0 else 'Not Received Vaccine' if x==2.0 else 'Not Sure' for x in census_data['RECVDVACC']]
census_data['ANYWORK'] = ['Worked For Pay' if x== 1.0 else 'Not Worked For Pay' if x==2.0 else 'Not Sure' for x in census_data['ANYWORK']]
census_data['PRIVHLTH'] = ['Private Insurance' if x== 1.0 else 'Not Private Insurance' if x==2.0 else 'Unknown' for x in census_data['PRIVHLTH']]
census_data['Age_Group'] = ['> 1986 (Young)' if int(x) > 1986 else '1960-1986 (Middle Age)' if int(x) <1986 and int(x)>1960 else '< 1960 (Old)' for x in census_data['TBIRTH_YEAR']]

In [ ]:
# Maps the state numbers to state names 

state_mapping = pd.read_csv('state_map.csv')
mapping = dict(state_mapping[['EST_ST', 'STATE']].values)
census_data['STATE'] = census_data['EST_ST'].map(mapping)

In [ ]:
# Saves the changed entries and columns to a csv file 

census_data.to_csv("census_data.csv")